* {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 20px;
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1280px;
}
.color-choice {
  display: flex;
  flex-direction: column-reverse;
}
label{
  font-size: 20px;
  background-color: #00000070;
  color: white;
  padding: 5px;
}
input {
  height: 30px;
  border: none;
  outline: none;
  padding: 5px;
}
.color {
  margin-bottom: 5px;
}

.remove:hover,
.remove:focus {
  border: none;
  outline: none;
  background-color: #646cff;
}

.form__box, 
.displayHead,
.displayData,
.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container {
  max-width: 1280px;
  margin: 30px auto;
}

.container  input,
.button,
.data {
  border: 1px solid #646cff;
  border-radius: 8px;
  margin-top: 15px;
  padding: 15px;
}

.form__data,
.form__km,
.button {
  display: block;
  background-color: transparent;
  color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  height: 60px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.displayHead h3 {
  font-weight: normal;
  color: black;
  display: block;

}
ul {
  list-style-type: none;
}

.data * {
  display: block;
  width: 110px;
  padding: 15px;
}
.remove {
  background-color: #a2a6ff;
  border: none;
  outline: none;
  border-radius: 8px;
}
.displayData {
  flex-direction: column;
  gap: 5px;
}